@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.examDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
}
.exMD_title{
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: left;
}
.exMD_title > img{
  margin-top: 2%;
  margin-left: 1%;
  width: 6%;
  height: 10%;
  transform: rotate(180deg);
  margin-right: 35%;
  cursor: pointer;
}
.exMD_title > h1{
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: #224C67;
}
.exD_1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-left: 4%;
  margin-bottom: 3%;
}
.exD_1 > h2 {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
.exD_2 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-left: 4%;
  margin-bottom: 2%;
}
.exD_tl_1 {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
.exD_2_1 {
  margin-left: 2%;
  margin-top: -1%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  width: 45%;
}
.exD_2_1 > div {
  width: 25%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exD_2_1 > div > h2 {
  font-size: 1.8rem;
  font-weight: 400;
}
.exD_2_1 > div > select {
  margin-right: 18%;
  align-self: center;
  transform: scale(2);
}
.exD_mode {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: space-between;
  margin-left: 4%;
  margin-bottom: 1%;
}
.exD_tl_2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 2%;
  font-family: 'Montserrat', sans-serif;
}
.exmD_btn {
  align-self: center;
  appearance: button;
  backface-visibility: hidden;
  background-color: #5dc185;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 1.5rem;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 25%;
  margin-top: 4%;
  margin-bottom: 3%;
}
.exmD_btn:disabled {
  cursor: default;
}
.exmD_btn:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(82, 211, 50, 0.3) 0 0 0 4px;
}
.pub_1, .pub_2{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 60%;
  margin-left: 4%;
}
.pub_1 > h2, .pub_2 > h2{
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 2%;
  font-family: 'Montserrat', sans-serif;
}
.pub_1 > div, .pub_2 > div{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  display: flex;
  justify-content: left;
  align-items: left;
}
.pub_1 > div > input[type="date"], .pub_2 > div > input[type="date"]{
  transform: scale(1.5);
}
.pub_1 > div > input[type="time"], .pub_2 > div > input[type="time"]{
  transform: scale(1.5);
  margin-left: 10%;
}


/* NEW SECTION */

.exam-flow-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-primary-color);
  overflow: hidden;
}

.exam-flow-navigator {
  position: fixed;
  top: 3%;
  left: 2%;
  transform: scale(1.5);
  cursor: pointer;
}

.exam-flow, .choose-subject, .choose-exam-mode {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 50vh;
}

.exam-flow > h1 {
  font-size: 4rem;
  color: var(--primary-color);
  font-weight: 600;
}

.exam-flow > h2 {
  font-weight: 400;
  width: 70%;
  line-height: 40px;
  margin-bottom: 5%;
}

.choose-subject, .choose-exam-mode {
  justify-content: center;
  align-items: center;
}

.choose-subject > h2, .choose-exam-mode > h2, .choose-date-time > h2 {
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 500;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5%;
}

.choose-subject > button, .choose-exam-mode > button {
  margin-top: 5%;
}

.choose-date-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  width: 100%;
}

.date-time-picker {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-left: 10%;
  margin-top: -5%;
}

.date-time-picker > .date-picker, .date-time-picker > .time-picker {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  width: 50%;
  margin-top: 5%;
}

.date-time-picker > .date-picker > h3, .date-time-picker > .time-picker > h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2%;
  color: var(--primary-color);
  font-family: 'Montserrat', sans-serif;
}
