

.card-wrapper {
  display: flex;
  flex-direction: column;
  /* border: 2px solid; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* .prof-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  cursor: pointer;
  border-radius: 5px;
  background: #2c6588;
  color: white;
  transition: 0.5s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.prof-card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 1px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 6px -3px;
}
.pf-img > img {
  width: 100%;
  border-radius: 5px;
  margin-left: 4%;
  background: #fffc00;
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #fffc00
  );
  background: linear-gradient(
    to right,
    #ffffff,
    #fffc00
  );
}
.pf_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pf_1 > h2 {
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
}
.pf_1 > h3 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: -6%;
}
.crd_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10%;
  margin-bottom: 1%;
}
.crd_1 > h3 {
  font-weight: 300;
  cursor: pointer;
  text-decoration: underline;
}
.crd_1 > h3:nth-child(1) {
  margin-right: 8%;
  color: #2ea44f;
}
.crd_1 > h3:nth-child(2){
    color: #ff3800;
}
.crd_subjects{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100%;
}
.crd_sub_1{
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}
.crd_sub_1 > ul {
  display: flex;
}
.crd_sub_1 > ul > li{
  list-style: none;
  background: whitesmoke;
  margin-left: 1%;
  margin-right: 1%;
  color: black;
  border-radius: 4px;
  cursor:pointer;
  padding: 2%;
} */
